{
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "global-require": "off",
    "import/prefer-default-export": "off",
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "react/jsx-one-expression-per-line": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
